<%--
  Created by IntelliJ IDEA.
  User: GRamis
  Date: 30.06.2015
  Time: 21:06
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title>QOTD &raquo; <g:layoutTitle/></title>
    <link rel="stylesheet" href="
    <g:createLinkTo dir="css" file="snazzy.css"/>"/>
    <g:layoutHead/>
</head>

<body>
    <div id="header">
        <img src="<g:createLinkTo dir="images" file="logo.png"/>
        " alt="logo">
    </div>
    <g:layoutBody/>
</body>
</html>